
<div class="row footer">
    <div class="span12">
        <div class="info">
            <p class="address">202-2469 Kingsway, Vancouver BC, V5R 5G8. Canada</p>
            <p class="number">+1 604 568 0039</p>
            <p class="email">info@imicroservices.com</p>
        </div>
        <hr size="1" style="clear: both;">
        <div class="pull-left">
            <p class="copyright">© 2005, IMS. All Rights Reserved.</p>
        </div>
        <div class="pull-right">
            <p class="design">Maintained by: <strong>IMS</strong></p>
        </div>
    </div>
</div>