@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
    </ul>*@
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    <div class="login-form">
        <div class="social-icons" style="text-align: left">
            <img src="~/Content/Images/icons/facebook.png"/>
            <img src="~/Content/Images/icons/twitter.png"/>
        </div>
        <form method="post" class="form-inline">
            <input type="text" class="form-control" id="username" placeholder="Username"/>
            <input type="password" class="form-control" id="password" placeholder="Password"/>
            <input type="submit" class="btn btn-default" value="Login"/><br/>
            <a href="#" class="join-link">Join Micro Services INC</a>
        </form>
    </div>
}
