@{
    ViewBag.Title = "About";
}
<div class="about container">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    <p>
        <em>
            An article all about the company.
        </em>
    </p>
</div>
